@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* 한글 단어 단위 줄바꿈 설정 */
    word-break: keep-all;
    overflow-wrap: break-word;
  }

  body {
    @apply bg-gray-100 text-gray-900;
    font-family: 'Pretendard', sans-serif;
  }
}
